.textField {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  & > label {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
  }
  &  input {
    height: 40px;
    border-radius: 6px;
    color: #686767;
    font-family: Montserrat;
    font-size: 18px;
    padding-left: 10px;
    border: 1px solid #d0d0d0;
    outline: none;
    &:focus {
      border-color: #916bbf;
      color: #916bbf;
    }
    &::placeholder {
      color: #918f8f;
    }
  }
}
.dev svg {
  width: 50px;
  height: 50px !important;
}
.alertField {
  color: indianred;
  font-weight: 600;
}
