.textField {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 1px;
  & > label {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
  }
  & input {
    height: 40px;
    border-radius: 6px;
    color: #686767;
    font-family: Montserrat;
    font-size: 18px;
    padding-left: 10px;
    border: 1px solid #d0d0d0;
    outline: none;
    &:focus {
      border-color: #916bbf;
      color: #916bbf;
    }
    &::placeholder {
      color: #918f8f;
    }
  }
  & input[type="number"]::-webkit-outer-spin-button,
  ::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
.dev svg {
  width: 30px;
  height: 30px !important;
}
.alertField {
  color: indianred;
  font-weight: 600;
  font-size: 14px;
}
